services:
  go-db-stream:
    build:
      context: ../../
      dockerfile: Dockerfile
    container_name: go-db-stream
    volumes:
      - ./config.yaml:/app/config.yaml
    command: >
      go-db-stream -config /app/config.yaml
    ports:
      - "8080:8080"
    restart: always

  postgres:
    image: postgres:17.2
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_data:/var/lib/postgresql/data
    command: >
      postgres -c wal_level=logical
    restart: always

volumes:
  pg_data:
